extends layout

block content
    section.login.container
      h1.section-title Login
      form.login-form(action="/session", method="POST")
        label(for='email') Email
        input.email(type='email', name='username')
        label(for='password') Contraseña
        input.password(type='password', name='password')
        input.button.login(type='submit', value='Login')

    section
      a(href="/register") Registrate
